

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>PLE</h2>
    <h3>Personal Learning Environment
        <small>Kişisel Öğrenme Ortamı</small>
    </h3>    
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Dersler</h3>
        <p>
           
        </p>
    </div>
    <div class="col-md-4">
        <h3>Gruplar</h3>
        <p></p>
    </div>
    <div class="col-md-4">
        <h3>Alanlar</h3>
        <p></p>
    </div>
</div>