@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PLE</h1>
    <h2>Personal Learning Environment
        <small>Kişisel Öğrenme Ortamı</small>
    </h2>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dersler</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Gruplar</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Alanlar</h2>
        <p></p>
    </div>
</div>