<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
</head>

<body style="background: #f3f3f3 !important; font-family:Helvetica, Arial, sans-serif; font-weight:normal;">
    <table align="center" style="width:650px;">
        <tr>
            <td align="center" valign="top">
                <center>

                    <table align="center" class="container header float-center">
                        <tbody>
                            <tr>
                                <td>
                                    <h2 style="font-size:2em; font-weight:lighter;">
                                        PLE
                                        <small style="font-size: 80%; color: #cacaca;"> Kişisel Öğrenme Ortamı</small>
                                    </h2>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table align="center" style="border-top: 8px solid rgb(63, 81, 181); background-color:#fff; padding:50px 10px 20px;">
                        <tbody>                            
                            @*Content*@

                            @RenderSection("Content", false)

                            @*Content End*@                            
                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
        <tr>
            <td>
                <p style="text-align:center;">
                    <a style="color: #2199e8; text-decoration: none;" href="http://www.cet.boun.edu.tr/PLE">Boğaziçi University - CET PLE</a>
                </p>

            </td>
        </tr>
    </table>
</body>
</html>
                                   