@model ViewDataDictionary
@{ Layout = "~/Views/Mail/_MailLayout.cshtml"; }

@section Content{
    <tr>
        <td style="text-align:center;">
            <h2 style="color: #00acc1; font-weight:lighter;">Hesabınızı Onaylayın</h2>
            <br />
        <td>
    </tr>

    <tr>
        <td>
            <p>Merhaba @(Model["userName"] as string),</p>
            <p style="text-align: justify;">
                <div>E-posta adresinizi onayladıktan sonra giriş yapabilirsiniz. PLE'nin sunduğu özelliklere erişebilmeniz için e-posta adresinizi onaylamanız gerekmektedir.</div>
            </p>
        </td>
    </tr>

    <tr>
        <td><br /></td>
    </tr>

    <tr>
        <td style="text-align:center;">
            <a href="@(Model["confirmUrl"] as string)" style="display: inline-block; margin-bottom: 0; font-weight: 700; text-align: center; vertical-align: middle; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 16px; line-height: 1.65; border-radius: 2px; color: #fff; background-color: #8bc34a;">Onayla</a>
        </td>
    </tr>

    <tr>
        <td><br /></td>
    </tr>

    <tr>
        <td>
            <small>Düğme çalışmıyor ise bu linki takip edin:</small>
            <small style="color: #00acc1; text-decoration: none; overflow-wrap: break-word;  word-wrap: break-word;">@(Model["confirmUrl"] as string)</small>
        </td>
    </tr>
}
