PLE.Website/PLE444/ApplicationInsights.config
*.ide
*.ide
*.log
PLE.Service/.vs/PLE.Service/v15/sqlite3/storage.ide
PLE444/PLE.Service/PLE.Contract/bin
PLE444/PLE.Service/PLE.Service/bin
PLE444/PLE.Service/PLE.Service.Dto/bin
PLE444/PLE.Service/PLE.Service.Implementations/bin
PLE444/PLE.Service/.vs
PLE444/PLE.Website/PLE.Service/.vs
PLE444/PLE.Website/PLE.Service/bin
PLE444/PLE.Website/PLE.Service/obj
PLE444/PLE.Website/PLE.Website/PLE.Website.Common/bin
PLE444/PLE.Website/PLE.Website/PLE.Website.Common/obj
PLE444/PLE.Website/PLE.Website.Common/bin
PLE444/PLE.Website/PLE.Website.Common/obj
PLE444/PLE.Website/PLE.Website/bin
PLE444/PLE.Website/PLE.Website/obj
PLE444/PLE.Website/PLE.Website/.vs