
@{
    ViewBag.Title = "Chapters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-bluegray" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
        <span class="pull-right">MATH 101.02 Calculus</span>
        <h2>
            <ul class="nav nav-tabs">
                <li class="active"><a href="@Url.Action("Chapters","Course")">Bölümler</a></li>
                <li><a href="@Url.Action("Assignments","Course")"> Ödevler</a></li>
                <li><a href="@Url.Action("Materials","Course")">Materyaller</a></li>
                <li><a href="@Url.Action("Grades","Course")">Notlar</a></li>
                <li><a href="#Communities">Tartışmalar</a></li>
            </ul>
        </h2>
    </div>
</div>

<div class="panel panel-default" data-widget='{"draggable";: "false"}' data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
    <div class="panel-heading">
        <h2>Chapter1 </h2>
        <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body, .panel-footer"}'></div>
    </div>
    <div class="panel-body" style="height: 148px">
        Asperiores porro eveniet debitis quas sed harum nobis libero voluptatibus dolorum odio at veniam aut id corrupti hic amet consectetur adipisicing tenetur ex ea dignissimos volupta elit esse quisquam fugiat.
    </div>
    <div class="panel-footer">
        <a href="#" class="btn btn-primary" id="dyna-del"> Materyal Yükle</a>
        <a href="#" class="btn btn-primary" id="dyna-del"> Ödev Yükle</a>
        <a href="#" class="text-gray pull-right">Detay <i class="ti ti-angle-right"></i></a>
    </div>
</div>

<div class="panel panel-default" data-widget='{"draggable";: "false"}' data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
    <div class="panel-heading">
        <h2>Chapter2 </h2>
        <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body, .panel-footer"}'></div>
    </div>
    <div class="panel-body" style="height: 148px">
        Asperiores porro eveniet debitis quas sed harum nobis libero voluptatibus dolorum odio at veniam aut id corrupti hic amet consectetur adipisicing tenetur ex ea dignissimos volupta elit esse quisquam fugiat.
    </div>
    <div class="panel-footer">
        <a href="#" class="btn btn-primary" id="dyna-del"> Materyal Yükle</a>
        <a href="#" class="btn btn-primary" id="dyna-del"> Ödev Yükle</a>
        <a href="#" class="text-gray pull-right">Detay <i class="ti ti-angle-right"></i></a>
    </div>
</div>

