@{
    ViewBag.Title = "Index";
}

<div class="panel panel-profile">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <a style="float:right" href="#"><i class="fa fa-pencil"></i></a>
        <div class="col-sm-3">
            <p>Grup İsmi</p>
            <div class="name">Ders Adı </div>
        </div>
        <div class="col-sm-9 text-left">
            <p class="lead">Açıklama</p>
            <p>Kapalı Grup</p>
            <a href="#">Katıl</a>
        </div>
    </div>
</div>