
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-bluegray" data-widget='{"draggable": "false"}'>
	<div class="panel-heading">
		<span class="pull-right">MATH 101.02 Calculus</span>
		<h2>
			<ul class="nav nav-tabs">
				<li class="active"><a href="#Profile" data-toggle="tab">Bölümler</a></li>
				<li><a href="#Friends" data-toggle="tab">Ödevler</a></li>
				<li><a href="#Files" data-toggle="tab">İçerik</a></li>
				<li><a href="#Events" data-toggle="tab">Notlar</a></li>
				<li><a href="#Communities" data-toggle="tab">Tartışmalar</a></li>				
			</ul>
		</h2>
	</div>
</div>

<div class="panel panel-default" data-widget='{"draggable";: "false"}' data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
	<div class="panel-heading">
		<h2>Başlık</h2>
		<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body, .panel-footer"}'></div>
	</div>
	<div class="panel-body" style="height: 148px">
		Asperiores porro eveniet debitis quas sed harum nobis libero voluptatibus dolorum odio at veniam aut id corrupti hic amet consectetur adipisicing tenetur ex ea dignissimos volupta elit esse quisquam fugiat.
	</div>
	<div class="panel-footer">
		<span class="text-gray"><em>Footer</em></span>
		<a href="#" class="text-gray pull-right">Detay <i class="ti ti-angle-right"></i></a>
	</div>
</div>

<div class="panel panel-success" data-widget='{"draggable": "false"}' data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
	<div class="panel-heading">
		<h2>Notlar</h2>
		<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
	</div>
	<div class="panel-body no-padding">
		<table class="table table-striped">
			<thead>
				<tr class="success">
					<th>#</th>
					<th>Grade 1 <i>(%50)</i></th>
					<th>Grade 2 <i>(%50)</i></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2012100102</td>
					<td>10</td>
					<td>8</td>					
				</tr>
				<tr>
					<td>2012100122</td>
					<td>10</td>
					<td>10</td>
				</tr>
				<tr>
					<td>2012100002</td>
					<td>0</td>
					<td>8</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>