
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-bluegray" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
        <span class="pull-right">Databaseciler</span>
        <h2>
            <ul class="nav nav-tabs">
                <li class="active"><a href="@Url.Action("Index","Community")" >Özellikler</a></li>
                <li><a href="@Url.Action("Events","Community")" >Etkinlikler</a></li>
                <li><a href="@Url.Action("Discussion","Community")" >Tartışma</a></li>
                <li><a href="@Url.Action("Archieve","Community")" >Arşiv</a></li>

            </ul>
        </h2>
    </div>
</div>