@*@model List<PLE444.ViewModels.MainPage>*@

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('../../Content/img/pleBackground2.jpg');" >
    <h1>PLE</h1>
    <h3>Personal Learning Environment</h3>
    <h5>Kişisel Öğrenme Ortamı</h5>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dersler</h2>
        <p>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gruplar</h2>
        <p>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Alanlar</h2>
        <p>
        </p>
    </div>
</div>