@{
    ViewBag.Title = "Parola Sıfırlama Onayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row animated-content">
    <div class="container" id="login-form">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Parola Sıfırlama Onayı</h2>
                    </div>
                    <div class="panel-body">
                        <p class="lead text-info"> 
                            E-posta adresinize gönderilen linki takip ederek parolanızı sıfırlayabilirsiniz.
                        </p>

                    </div>
                    <div class="panel-footer">
                        <div class="clearfix">
                            <a href="@Url.Action("ResendPassReset","Account", new { userId = ViewBag.CurrentUserId })" class="btn btn-default pull-right">Tekrar yolla</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>