@{
    ViewBag.Title = "Şifre Değiştirildi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row animated-content">

    <div class="container" id="login-form">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Şifre Değiştirildi</h2>
                    </div>
                    <div class="panel-body">
                        <h2 class="lead text-success">
                            Şifreniz başarıyla değiştirildi!
                        </h2>
                        <p>Artık giriş yapabilirsiniz</p>
                    </div>
                    <div class="panel-footer">
                        <div class="clearfix">
                            <a href="@Url.Action("Login", "Account", routeValues: null)" class="btn btn-success pull-right">Giriş</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>