
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-bluegray" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
        <h2>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#Profile" data-toggle="tab">Profil</a></li>
                <li><a href="#Friends" data-toggle="tab">Arkadaşlar</a></li>
                <li><a href="#Files" data-toggle="tab">Dosyalar</a></li>
                <li><a href="#Events" data-toggle="tab">Etkinlikler</a></li>
                <li><a href="#Communities" data-toggle="tab">Topluluklar</a></li>
            </ul>
        </h2>
    </div>
</div>

<div data-widget-group="group1">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-profile">
                <div class="panel-body">
                    <img src="~/Content/img/pp.jpg" class="img-circle">
                    <div class="name">Oğuz Ak</div>
                    <div class="info">Eğitmen</div>
                    <ul class="list-inline text-center">
                        <li><a href="#" class="profile-facebook-icon"><i class="ti ti-facebook"></i></a></li>
                        <li><a href="#" class="profile-twitter-icon"><i class="ti ti-twitter"></i></a></li>
                        <li><a href="#" class="profile-dribbble-icon"><i class="ti ti-dribbble"></i></a></li>
                    </ul>
                </div>
            </div><!-- panel -->
            
        </div><!-- col-sm-3 -->
        <div class="col-sm-9">
            <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>About</h2>
                        </div>
                        <div class="panel-body">
                            <div class="about-area">
                                <h4>Bio</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.</p>
                                <p>Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.</p>
                            </div>
                            <div class="about-area">
                                <h4>Basic Information</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th>Web</th>
                                                <td><a href="#">www.johndoe.com</a></td>
                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <td><a href="#">doe@lime.com</a></td>
                                            </tr>
                                            <tr>
                                                <th>Phone</th>
                                                <td>+61 3 8376 6284</td>
                                            </tr>
                                            <tr>
                                                <th>Position</th>
                                                <td>Designer</td>
                                            </tr>
                                            <tr>
                                                <th>Status</th>
                                                <td>Member</td>
                                            </tr>
                                            <tr>
                                                <th>Social</th>
                                                <td>
                                                    <ul class="list-inline m-n">
                                                        <li><a href="#"><i class="ti ti-pinterest"></i></a></li>
                                                        <li><a href="#"><i class="ti ti-twitter"></i></a></li>
                                                        <li><a href="#"><i class="ti ti-google"></i></a></li>
                                                        <li><a href="#"><i class="ti ti-linkedin"></i></a></li>
                                                        <li><a href="#"><i class="ti ti-dribbble"></i></a></li>
                                                        <li><a href="#"><i class="ti ti-facebook"></i></a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="about-area">
                                <h4>Personal Information</h4>
                                <div class="table-responsive">
                                    <table class="table about-table">
                                        <tbody>
                                            <tr>
                                                <th>Full Name</th>
                                                <td>Jonathan Davison Smith</td>
                                            </tr>
                                            <tr>
                                                <th>Birth Date</th>
                                                <td>1 January</td>
                                            </tr>
                                            <tr>
                                                <th>Birth Year</th>
                                                <td>1980</td>
                                            </tr>
                                            <tr>
                                                <th>Gender</th>
                                                <td>Male</td>
                                            </tr>
                                            <tr>
                                                <th>Languages</th>
                                                <td>English</td>
                                            </tr>
                                            <tr>
                                                <th>City</th>
                                                <td>Canbera</td>
                                            </tr>
                                            <tr>
                                                <th>Country</th>
                                                <td>Australia</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
        </div><!-- col-sm-8 -->
    </div>
</div>


