@model ViewDataDictionary
@{ Layout = "~/Views/Mail/_MailLayout.cshtml"; }

@section Content{
    <tr>
        <td style="text-align:center;">
            <h2 style="color: #00acc1; font-weight:lighter;">Yeni Ödev Eklendi</h2>
            <br />
            <h3 style="font-weight:lighter;">@(Model["title"] as string)</h3>
            <h4 style="font-weight:lighter;">
                <small style="font-size: 80%; color: #cacaca;">Teslim Tarihi</small>
                @(Model["deadline"].ToString())
            </h4>
        <td>
    </tr>

    <tr>
        <td>
            <p style="text-align:justify;">
                @(new HtmlString(Model["description"] as String))
            </p>
        </td>
    </tr>
}